
.booking-header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.booking-header-section h2 {
  font-size: 28px;
  font-weight: 600;
}

.booking-header-section h2 span {
  color: #27b217;
}


/* Booking Table */
.table-container {
  margin-top: 30px;
  overflow-x: auto;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.booking-table th,
.booking-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.booking-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

.booking-table tbody tr:hover {
  background-color: #f1f1f1;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.booking-container {
  max-width: 600px;
  margin: auto;
}

label, select, input {
  display: block;
  margin: 10px 0;
  width: 100%;
}

#room-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.room-card {
  padding: 10px;
  background-color: #e0f7fa;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  flex: 1 0 45%;
  text-align: center;
}

.room-card.selected {
  background-color: #4caf50;
  color: white;
}

.room-card.booked {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
}
