
.section {
  padding: 7em 0; }
@media (max-width: 991.98px) {
  .section {
    padding: 3em 0; } }

@media (max-width: 991.98px) {
  .lead {
    font-size: 16px; } }


/*hero section*/

.site-hero {
  background-size: cover;
  height: 70vh;
  min-height: 600px;
  width: 100%;
  position: relative; }
.site-hero .headings {
  font-family: "Playfair Display", times, serif;
  font-weight: bold; }
.site-hero .scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff; }
.site-hero.overlay:before {
  background: rgba(0, 0, 0, 0.45);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
.site-hero.inner-page {
  height: 50vh;
  min-height: 500px; }
.site-hero.inner-page.overlay:before {
  height: 50vh;
  min-height: 500px; }

.site-hero-inner {
  height: 100vh;
  min-height: 700px; }
.site-hero-inner .headings {
  font-size: 80px;
  font-family: "Playfair Display", times, serif;
  color: #fff;
  line-height: 1;
  font-weight: bold; }

@media (max-width: 991.98px) {
  .site-hero-inner .headings {
    font-size: 40px; } }
.site-hero-inner .sub-headings {
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  line-height: 1.5; }
@media (max-width: 991.98px) {
  .site-hero-inner .sub-headings {
    font-size: 18px; } }

.inner-page .site-hero-inner {
  height: 50vh;
  min-height: 700px; }


/* Mouse Animation */
.mouse {
  width: 100px;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 140px;
  z-index: 1;
  -webkit-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%); }

.mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center; }

.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down; }

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

.site-block-half .image, .site-block-half .text {
  width: 100%; }
@media (min-width: 992px) {
  .site-block-half .image, .site-block-half .text {
    width: 50%; } }

@media (max-width: 991.98px) {
  .site-block-half .image {
    margin-bottom: 50px;
    height: 300px; } }

.site-block-half .text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; }
@media (min-width: 992px) {
  .site-block-half .text {
    padding: 4rem; } }


.custom-breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0; }
.custom-breadcrumbs li {
  display: inline-block;
  color: #fff;
  margin: 0 4px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .1em;
  font-weight: bold; }
.custom-breadcrumbs li a {
  font-weight: normal; }
.custom-breadcrumbs li a:hover {
  color: #fff; }

/*--------book---------*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

.book {
  padding: 15px 0;
  background: #282834;
  color: #fff;
}

h1 {
  font-family: serif;
}

.book h1 {
  font-size: 28px;
}

.book h1 span {
  color: #a2622b;
}

.book input {
  padding: 20px;
}

.book input:nth-last-child(1) {
  background: #8a6913;
  color: #fff;
}
.mtop {
  margin-top: 40px;
}
.container {
  max-width: 85%;
  margin: auto;
}

.rooms {
  position: relative;
  margin: 20px 0px  35px 0px;
}

.rooms .text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 30px;
}

.rooms i {
  font-size: 12px;
  color: #fbb234;
  margin: 15px 0;
  margin-right: 5px;
}

.rooms p {
  margin:3px 0;
  opacity: 0.7;
}

.rooms h3 {
  font-size: 30px;
  line-height: 20px;
  margin-left: 20px;
  font-weight: 500;
  color: #7fc142;
}

.rooms h3 span {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
.heading h1 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  font-family: serif;
  position: absolute;
  top: -30px;
}

.heading h2 {
  margin: 30px 0;
  font-size: 45px;
  font-family: serif;
  font-weight: 400;
}

/* Table */
.table-container {
  overflow-x: auto;
  width: 60%;
  margin: 40px ;
}

.room-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.room-image-table {
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  object-fit: cover; /* Ensures the image maintains aspect ratio and fills the box */
  border-radius: 5px; /* Optional: Makes the image corners rounded */
}
.room-table th,
.room-table td {
  padding: 10px;
  border: 2px solid #ddd;
  text-align: center;
}

.room-table th {
  background-color: #8fbdd1;
  color: #333;
  font-size: 0.8rem;
  font-weight: bold;
}
.room-table tr:hover {
  background-color: #f9f9f9;
}
.room-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
